<p>Products List works!</p>
<div *ngFor="let product of products">
  <div
  class="list-group-item clearfix" 
  *ngFor="let product of products">
   <div class="pull-left">
       <h4 class="list-group-item-heading">{{ product.title }}</h4>
       <p class="list-group-item-text">{{ product.description }}</p>
   </div>
   <span class="pull-right">
       <img 
            [src] = "product.image"
            alt="{{ product.title }}" 
            class="img-responsive" 
            style="max-height: 50px;"> 
   </span>
</div> 
</div>

